<a href="https://colab.research.google.com/github/LuizFelipe33/Data_mining_GooglePlayStore/blob/main/AtvMin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Base de Dados de Apps do GooglePlayStore 
  Conforme foi exigido fizemos um pre-processamento de uma base de dados. Utilizamos uma base de dados do Kaggle de Apps do Google Play Store. Essa base é dividida em 13 colunas, mas só utilizamos 6, com o objetivo de identificar os Apps favoritos. 
  
###Base que utilizamos: https://www.kaggle.com/datasets/lava18/google-play-store-apps

In [3]:
import pandas as pd
import numpy as np
data = pd.read_csv("/content/googleplaystore.csv")

In [4]:
data

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,"5,000+",Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100+,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

#Exclusão das Colunas 

Utilizamos o comando '.drop(columns=' para apagar as colunas que não vão ser usadas.

In [5]:
data = data.drop(columns=['Size','Price','Last Updated','Current Ver','Android Ver'])

data.head()

,App,Category,Rating,Reviews,Installs,Type,Content Rating,Genres
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,"10,000+",Free,Everyone,Art & Design
1,Coloring book moana,ART_AND_DESIGN,3.9,967,"500,000+",Free,Everyone,Art & Design;Pretend Play
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,"5,000,000+",Free,Everyone,Art & Design
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,"50,000,000+",Free,Teen,Art & Design
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,"100,000+",Free,Everyone,Art & Design;Creativity

#Dados Faltantes 

Aqui nos utilizamos uma estrutura de repetição para ver se haviam NaNs (Not a Numbers) em cada valor da tabela.

In [6]:
for j in data.columns:
  ausentes = data[j].isna().sum()
  print(j, ausentes)

App 0
Category 0
Rating 1474
Reviews 0
Installs 0
Type 1
Content Rating 1
Genres 0

Separamos a coluna que com os dados faltantes, e averiguamos uma amostra entre 7050 e 7065.

In [7]:
data1 = data['Rating'] 
print(data1[7050:7065])

7050    3.1
7051    NaN
7052    3.9
7053    NaN
7054    4.2
7055    4.5
7056    NaN
7057    4.1
7058    NaN
7059    4.2
7060    NaN
7061    NaN
7062    3.3
7063    4.4
7064    NaN
Name: Rating, dtype: float64

Preenchemos os dados faltantes com a mediana dos dados preenchidos.

In [8]:
data1 = data1.fillna(data1.median())
print(data1[7050:7065])

7050    3.1
7051    4.3
7052    3.9
7053    4.3
7054    4.2
7055    4.5
7056    4.3
7057    4.1
7058    4.3
7059    4.2
7060    4.3
7061    4.3
7062    3.3
7063    4.4
7064    4.3
Name: Rating, dtype: float64

Aqui averiguamos os valores da coluna "Installs", e percebemos que os valores estão em string, e também há uma única linha com o valor "Free", por isso decidimos removê-la, e converter os valores da coluna para Int.

In [9]:
data['Installs']. value_counts()

1,000,000+        1579
10,000,000+       1252
100,000+          1169
10,000+           1054
1,000+             907
5,000,000+         752
100+               719
500,000+           539
50,000+            479
5,000+             477
100,000,000+       409
10+                386
500+               330
50,000,000+        289
50+                205
5+                  82
500,000,000+        72
1+                  67
1,000,000,000+      58
0+                  14
0                    1
Free                 1
Name: Installs, dtype: int64

In [10]:
data['Installs'] = data['Installs'].str.replace('+','')
data['Installs'] = data['Installs'].str.replace(',','')
data.drop(data.loc[data['Installs']=='Free'].index, inplace=True)
data['Installs'] = pd.to_numeric(data['Installs'])
data['Installs'].describe

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

<bound method NDFrame.describe of 0           10000
1          500000
2         5000000
3        50000000
4          100000
           ...
10836        5000
10837         100
10838        1000
10839        1000
10840    10000000
Name: Installs, Length: 10840, dtype: int64>

Aqui são mostrados todos os tipos de gêneros presentes na base.

In [12]:
data['Genres']. value_counts()

Tools                                842
Entertainment                        623
Education                            549
Medical                              463
Business                             460
                                    ...
Parenting;Brain Games                  1
Travel & Local;Action & Adventure      1
Lifestyle;Pretend Play                 1
Tools;Education                        1
Strategy;Creativity                    1
Name: Genres, Length: 119, dtype: int64

E finalmente verificamos a quantidades de APPs pagos e não pagos.

In [15]:
data['Type']. value_counts()

Free    10039
Paid      800
Name: Type, dtype: int64